<form method="post" action="{{ path('banca_delete', {'idbanca': tbbanca.idbanca}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbbanca.idbanca) }}">
    <button class="btn">Deletar</button>
</form>
