{% extends 'base.html.twig' %}

{% block title %}Novo Assunto{% endblock %}

{% block body %}
    <h1>Criar novo Assunto</h1>

    {{ include('assunto/_form.html.twig') }}

    <a href="{{ path('assunto_index') }}">Voltar para lista</a>
{% endblock %}
